In [51]:
import pandas as pd
import numpy as np

In [108]:
%matplotlib inline

In [109]:
import matplotlib.pyplot as plt
import seaborn as sns

In [136]:
df = pd.read_excel('Daten/Gewerbe/Leerflaechen-Gewerbe_Leerflaechen.xlsx', index_col=0, header=0).fillna(0)

#df = pd.read_excel('Leerflaechen einzeln.xlsx', index_col=0, header=0)

In [137]:
df.fillna(0).head()

               leer    2017    2016      2015    2014
Ganze Stadt  187714  243660  237054  256450.0  264548
Kreis 1       30550   34710   32201   40945.0   53774
Rathaus        3504    1940    2261    2261.0    2284
Hochschulen     670    1187     340     126.0    2218
Lindenhof      7542   10304    8060    7737.0    7381

In [138]:
df.dtypes

leer      int64
2017      int64
2016      int64
2015    float64
2014      int64
dtype: object

In [139]:
df.shape

(47, 5)

In [140]:
df[['leer', '2016']]

KeyError: "['2016'] not in index"

In [141]:
df.head()

               leer    2017    2016      2015    2014
Ganze Stadt  187714  243660  237054  256450.0  264548
Kreis 1       30550   34710   32201   40945.0   53774
Rathaus        3504    1940    2261    2261.0    2284
Hochschulen     670    1187     340     126.0    2218
Lindenhof      7542   10304    8060    7737.0    7381

In [142]:
# df['2015'] = drinks['2015'].astype(int)

In [ ]:
# df_3 = df_2[['Gemeindenummer', 'Gemeinde', '2016_x', 'Bevölkerungswachstum', 'Wohnungswachstum Total', 'Leerwohnungsziffer']].copy()
# df_3.rename(columns={'2016_x': 'Bevölkerung'}, inplace=True)
# df_3.head(2)

In [120]:
df.dtypes

leer      int64
2017      int64
2016      int64
2015    float64
2014      int64
dtype: object

In [127]:
df.iloc[:,0:1].head()

               leer
Ganze Stadt  187714
Kreis 1       30550
Rathaus        3504
Hochschulen     670
Lindenhof      7542

In [128]:
df.iloc[:,0:5].head()

               leer    2017    2016      2015    2014
Ganze Stadt  187714  243660  237054  256450.0  264548
Kreis 1       30550   34710   32201   40945.0   53774
Rathaus        3504    1940    2261    2261.0    2284
Hochschulen     670    1187     340     126.0    2218
Lindenhof      7542   10304    8060    7737.0    7381

In [126]:
df.transpose()

,Ganze Stadt,Kreis 1,Rathaus,Hochschulen,Lindenhof,City,Kreis 2,Wollishofen,Leimbach,Enge,...,Höngg,Wipkingen,Kreis 11,Affoltern,Oerlikon,Seebach,Kreis 12,Saatlen,Schwamendingen-Mitte,Hirzenbach
leer,187714.0,30550.0,3504.0,670.0,7542.0,18834.0,23200.0,2220.0,0.0,20980.0,...,28.0,562.0,43175.0,111.0,16299.0,26765.0,836.0,758.0,78.0,0.0
2017,243660.0,34710.0,1940.0,1187.0,10304.0,21279.0,25173.0,4227.0,0.0,20946.0,...,464.0,878.0,65488.0,1706.0,9649.0,54133.0,1279.0,1113.0,166.0,0.0
2016,237054.0,32201.0,2261.0,340.0,8060.0,21540.0,19439.0,5313.0,0.0,14126.0,...,0.0,477.0,58697.0,1651.0,13744.0,43302.0,1922.0,865.0,1057.0,0.0
2015,256450.0,40945.0,2261.0,126.0,7737.0,30821.0,30347.0,3790.0,0.0,26557.0,...,220.0,0.0,25972.0,200.0,3101.0,22671.0,1059.0,514.0,545.0,0.0
2014,264548.0,53774.0,2284.0,2218.0,7381.0,41891.0,34236.0,9101.0,401.0,24734.0,...,0.0,1240.0,38549.0,1095.0,3299.0,34155.0,1277.0,408.0,709.0,160.0

In [129]:
df.dtypes

leer      int64
2017      int64
2016      int64
2015    float64
2014      int64
dtype: object

In [133]:
df = df[['leer']].astype(str).astype(int).head()

In [134]:
df.dtypes

leer    int64
dtype: object

In [ ]:

df = pd.DataFrame(
    np.arange(10).reshape((2, 3)),
    columns=pd.DatetimeIndex(['2015', '2016']))
print(df['2015'])

In [40]:
# to change use .astype() 
drinks[2] = drinks.leer.astype(int)

In [13]:
drinks.head()

               leer    2017    2016      voll    2014       2
Ganze Stadt  187714  243660  237054  256450.0  264548  187714
Kreis 1       30550   34710   32201   40945.0   53774   30550
Rathaus        3504    1940    2261    2261.0    2284    3504
Hochschulen     670    1187     340     126.0    2218     670
Lindenhof      7542   10304    8060    7737.0    7381    7542

In [263]:
drinks.dtypes

leer    int64
voll    int64
2       int64
dtype: object

In [255]:
drinks.dtypes

leer    int64
2017    int64
2016    int64
voll    int64
2014    int64
2015    int64
dtype: object

In [259]:
drinks = drinks[['leer', 'voll']]

In [260]:
drinks['2017'].astype(str).astype(float)

KeyError: '2017'

In [258]:
drinks

                        leer    voll
Ganze Stadt           187714  187714
Kreis 1                30550   30550
Rathaus                 3504    3504
Hochschulen              670     670
Lindenhof               7542    7542
City                   18834   18834
Kreis 2                23200   23200
Wollishofen             2220    2220
Leimbach                   0       0
Enge                   20980   20980
Kreis 3                19407   19407
Alt-Wiedikon           16268   16268
Friesenberg                0       0
Sihlfeld                3139    3139
Kreis 4                 6808    6808
Werd                    3639    3639
Langstrasse             1093    1093
Hard                    2076    2076
Kreis 5                 8646    8646
Gewerbeschule            342     342
Escher Wyss             8304    8304
Kreis 6                 3281    3281
Unterstrass             2744    2744
Oberstrass               537     537
Kreis 7                 2952    2952
Fluntern                   0       0
Hottingen               1080    1080
Hirslanden              1462    1462
Witikon                  410     410
Kreis 8                 6938    6938
Seefeld                 2809    2809
Mühlebach               3615    3615
Weinegg                  514     514
Kreis 9                41331   41331
Albisrieden             7325    7325
Altstetten             34006   34006
Kreis 10                 590     590
Höngg                     28      28
Wipkingen                562     562
Kreis 11               43175   43175
Affoltern                111     111
Oerlikon               16299   16299
Seebach                26765   26765
Kreis 12                 836     836
Saatlen                  758     758
Schwamendingen-Mitte      78      78
Hirzenbach                 0       0

In [102]:
#pd.set_option("display.max_columns", 50)

In [192]:
df.columns

Int64Index([2018, 2017, 2016, 2015, 2014], dtype='int64')

In [199]:
df.columns.astype(int)

Int64Index([2018, 2017, 2016, 2015, 2014], dtype='int64')

In [200]:
df

,2018,2017,2016,2015,2014
Ganze Stadt,187714,243660.0,237054.0,256450.0,264548.0
Kreis 1,30550,34710.0,32201.0,40945.0,53774.0
Rathaus,3504,1940.0,2261.0,2261.0,2284.0
Hochschulen,670,1187.0,340.0,126.0,2218.0
Lindenhof,7542,10304.0,8060.0,7737.0,7381.0
City,18834,21279.0,21540.0,30821.0,41891.0
Kreis 2,23200,25173.0,19439.0,30347.0,34236.0
Wollishofen,2220,4227.0,5313.0,3790.0,9101.0
Leimbach,0,0.0,0.0,0.0,401.0
Enge,20980,20946.0,14126.0,26557.0,24734.0
Kreis 3,19407,20063.0,22593.0,38728.0,34681.0
Alt-Wiedikon,16268,16327.0,19741.0,33457.0,26935.0
Friesenberg,0,0.0,0.0,0.0,0.0
Sihlfeld,3139,3736.0,2852.0,5271.0,7746.0
Kreis 4,6808,22861.0,11583.0,7325.0,7046.0
Werd,3639,2620.0,7608.0,610.0,3026.0
Langstrasse,1093,5698.0,3729.0,5553.0,3769.0
Hard,2076,14543.0,246.0,1162.0,251.0
Kreis 5,8646,5913.0,17582.0,44909.0,33643.0
Gewerbeschule,342,1902.0,4177.0,2344.0,4311.0
Escher Wyss,8304,4011.0,13405.0,42565.0,29332.0
Kreis 6,3281,5804.0,3726.0,5322.0,2095.0
Unterstrass,2744,4281.0,3391.0,5322.0,1795.0
Oberstrass,537,1523.0,335.0,0.0,300.0
Kreis 7,2952,4697.0,4336.0,3886.0,3577.0
Fluntern,0,557.0,500.0,66.0,66.0
Hottingen,1080,2413.0,1962.0,3030.0,1208.0
Hirslanden,1462,1537.0,1758.0,674.0,2187.0
Witikon,410,190.0,116.0,116.0,116.0
Kreis 8,6938,12230.0,12294.0,15127.0,13214.0
Seefeld,2809,6352.0,6603.0,9473.0,8101.0
Mühlebach,3615,5312.0,4921.0,4740.0,4779.0
Weinegg,514,566.0,770.0,914.0,334.0
Kreis 9,41331,44100.0,52204.0,42610.0,41216.0
Albisrieden,7325,8080.0,4628.0,3382.0,4823.0
Altstetten,34006,36020.0,47576.0,39228.0,36393.0
Kreis 10,590,1342.0,477.0,220.0,1240.0
Höngg,28,464.0,0.0,220.0,0.0
Wipkingen,562,878.0,477.0,0.0,1240.0
Kreis 11,43175,65488.0,58697.0,25972.0,38549.0
Affoltern,111,1706.0,1651.0,200.0,1095.0
Oerlikon,16299,9649.0,13744.0,3101.0,3299.0
Seebach,26765,54133.0,43302.0,22671.0,34155.0
Kreis 12,836,1279.0,1922.0,1059.0,1277.0
Saatlen,758,1113.0,865.0,514.0,408.0
Schwamendingen-Mitte,78,166.0,1057.0,545.0,709.0
Hirzenbach,0,0.0,0.0,0.0,160.0
NaN,0,0.0,0.0,0.0,0.0
NaN,0,0.0,0.0,0.0,0.0
Leerflächenzählung in der Stadt Zürich,0,0.0,0.0,0.0,0.0
nach Stadtquartier und Nutzungsart,0,0.0,0.0,0.0,0.0
"2014-2018, Stand 1.6.2018",0,0.0,0.0,0.0,0.0
NaN,0,0.0,0.0,0.0,0.0
Quelle: Statistik Stadt Zürich,0,0.0,0.0,0.0,0.0
NaN,0,0.0,0.0,0.0,0.0
NaN,0,0.0,0.0,0.0,0.0
NaN,Total,0.0,0.0,0.0,0.0
NaN,Leerfläche (m²),0.0,0.0,0.0,0.0

In [198]:
list1 = list(df)

In [160]:
list1

[2018, 2017, 2016, 2015, 2014]

In [161]:
#df.info

In [165]:
df = df[['2018', '2017']]

KeyError: "['2018' '2017'] not in index"

In [166]:
df_leerflaeche

,Leerfläche (m²).1,Unnamed: 6,Unnamed: 11,Unnamed: 3,Unnamed: 4
NaN,2018,2017,2017.000000,2015.0,2014
Ganze Stadt,139664,174381,2.294606,256450.0,264548
Kreis 1,23805,29535,3.722381,40945.0,53774
Rathaus,1399,1940,1.828309,2261.0,2284
Hochschulen,670,797,1.018492,126.0,2218
Lindenhof,6963,8158,4.657459,7737.0,7381
City,14773,18640,4.492340,30821.0,41891
Kreis 2,19520,17542,2.230628,30347.0,34236
Wollishofen,1741,2224,1.469252,3790.0,9101
Leimbach,0,0,0.000000,0.0,401
Enge,17779,15318,2.533441,26557.0,24734
Kreis 3,11823,14315,1.936231,38728.0,34681
Alt-Wiedikon,10489,12785,2.180965,33457.0,26935
Friesenberg,0,0,0.000000,0.0,0
Sihlfeld,1334,1530,1.083050,5271.0,7746
Kreis 4,4276,8691,1.688080,7325.0,7046
Werd,3087,2536,1.621274,610.0,3026
Langstrasse,555,3574,1.158768,5553.0,3769
Hard,634,2581,4.858528,1162.0,251
Kreis 5,4817,3591,0.333093,44909.0,33643
Gewerbeschule,0,379,0.144456,2344.0,4311
Escher Wyss,4817,3212,0.394827,42565.0,29332
Kreis 6,2635,3961,1.140772,5322.0,2095
Unterstrass,2384,2860,1.248971,5322.0,1795
Oberstrass,251,1101,1.154445,0.0,300
Kreis 7,2302,3875,0.991729,3886.0,3577
Fluntern,0,557,0.538307,66.0,66
Hottingen,990,2159,1.233194,3030.0,1208
Hirslanden,1112,1159,1.764593,674.0,2187
Witikon,200,0,0.000000,116.0,116
Kreis 8,5995,11065,2.516682,15127.0,13214
Seefeld,2353,5585,2.778846,9473.0,8101
Mühlebach,3352,4914,2.895896,4740.0,4779
Weinegg,290,566,0.829276,914.0,334
Kreis 9,29739,29526,2.715035,42610.0,41216
Albisrieden,5383,6127,3.466652,3382.0,4823
Altstetten,24356,23399,2.569073,39228.0,36393
Kreis 10,159,285,0.120026,220.0,1240
Höngg,0,0,0.000000,220.0,0
Wipkingen,159,285,0.413820,0.0,1240
Kreis 11,33757,50811,4.413909,25972.0,38549
Affoltern,98,546,0.715395,200.0,1095
Oerlikon,13603,5104,1.200857,3101.0,3299
Seebach,20056,45161,7.310521,22671.0,34155
Kreis 12,836,1184,1.616218,1059.0,1277
Saatlen,758,1018,3.715196,514.0,408
Schwamendingen-Mitte,78,166,0.517737,545.0,709
Hirzenbach,0,0,0.000000,0.0,160

In [114]:
df = pd.read_excel('Daten/Gewerbe/Leerflaechen-Gewerbe_alle.xlsx', header=9).fillna(0)

#df = pd.read_excel('Leerflaechen einzeln.xlsx', index_col=0, header=0)

In [115]:
df.fillna(0).head()

,Leerfläche (m²),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Leerfläche (m²).1,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Leerflächenziffer,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Leerfläche (m²).2,Unnamed: 16,Unnamed: 17,Unnamed: 18
NaN,2018,2017,2016,2015.0,2014,2018,2017,2016,2015,2014,2018.000000,2017.000000,2016.000000,2015.000000,2014.000000,2018,2018,2018,2018
Ganze Stadt,187714,243660,237054,256450.0,264548,139664,174381,193027,207901,214900,1.820000,2.294606,2.550520,2.757742,2.919305,31663,5381,5122,5884
Kreis 1,30550,34710,32201,40945.0,53774,23805,29535,29807,36180,49692,3.009313,3.722381,3.713889,4.494553,6.442308,2436,1889,214,2206
Rathaus,3504,1940,2261,2261.0,2284,1399,1940,1315,2113,1856,1.312454,1.828309,1.280151,2.055668,1.791554,128,383,64,1530
Hochschulen,670,1187,340,126.0,2218,670,797,340,126,2218,0.870212,1.018492,0.414879,0.147865,2.591527,0,0,0,0

In [101]:
list2 = list(df)

In [102]:
list2

['Leerfläche (m²)',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Leerfläche (m²).1',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',
 'Unnamed: 9',
 'Leerflächenziffer',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 'Leerfläche (m²).2',
 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18']

In [103]:
df_leerflaeche = df[['Leerfläche (m²)', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']]

In [104]:
df_leerflaeche.head()

             Leerfläche (m²)  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4
NaN                     2018        2017        2016      2015.0        2014
Ganze Stadt           187714      243660      237054    256450.0      264548
Kreis 1                30550       34710       32201     40945.0       53774
Rathaus                 3504        1940        2261      2261.0        2284
Hochschulen              670        1187         340       126.0        2218

In [105]:
df.rename(columns=df.iloc[0]).drop(df.index[0])

,2018.0,2017.0,2016.0,2015.0,2014.0,2018.0,2017.0,2016.0,2015.0,2014.0,2018.0,2017.0,2016.0,2015.0,2014.0,2018.0,2018.0,2018.0,2018.0
Ganze Stadt,187714,243660,237054,256450.0,264548,139664,174381,193027,207901,214900,1.820000,2.294606,2.550520,2.757742,2.919305,31663,5381,5122,5884
Kreis 1,30550,34710,32201,40945.0,53774,23805,29535,29807,36180,49692,3.009313,3.722381,3.713889,4.494553,6.442308,2436,1889,214,2206
Rathaus,3504,1940,2261,2261.0,2284,1399,1940,1315,2113,1856,1.312454,1.828309,1.280151,2.055668,1.791554,128,383,64,1530
Hochschulen,670,1187,340,126.0,2218,670,797,340,126,2218,0.870212,1.018492,0.414879,0.147865,2.591527,0,0,0,0
Lindenhof,7542,10304,8060,7737.0,7381,6963,8158,7725,7374,6967,3.940022,4.657459,4.368561,4.170103,4.011771,579,0,0,0
City,18834,21279,21540,30821.0,41891,14773,18640,20427,26567,38651,3.594943,4.492340,4.892534,6.373022,10.026703,1729,1506,150,676
Kreis 2,23200,25173,19439,30347.0,34236,19520,17542,14427,25972,28559,2.523061,2.230628,1.882420,3.407398,3.761955,2687,608,87,298
Wollishofen,2220,4227,5313,3790.0,9101,1741,2224,3471,3077,6703,1.134094,1.469252,2.610001,2.216489,4.887840,479,0,0,0
Leimbach,0,0,0,0.0,401,0,0,0,0,58,0.000000,0.000000,0.000000,0.000000,0.616666,0,0,0,0
Enge,20980,20946,14126,26557.0,24734,17779,15318,10956,22895,21798,3.008532,2.533441,1.818342,3.800584,3.621912,2208,608,87,298
Kreis 3,19407,20063,22593,38728.0,34681,11823,14315,19796,31223,28092,1.570000,1.936231,2.708227,4.443798,4.170790,4202,543,1955,884
Alt-Wiedikon,16268,16327,19741,33457.0,26935,10489,12785,18231,26808,21685,1.780000,2.180965,3.143567,4.790482,4.081512,2506,543,1846,884
Friesenberg,0,0,0,0.0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,0
Sihlfeld,3139,3736,2852,5271.0,7746,1334,1530,1565,4415,6407,0.895465,1.083050,1.095900,3.214607,4.754647,1696,0,109,0
Kreis 4,6808,22861,11583,7325.0,7046,4276,8691,8331,2564,4844,0.814560,1.688080,1.672822,0.537578,1.012660,2311,88,122,11
Werd,3639,2620,7608,610.0,3026,3087,2536,6532,455,3000,2.000427,1.621274,4.155273,0.303931,2.119817,552,0,0,0
Langstrasse,1093,5698,3729,5553.0,3769,555,3574,1799,1879,1614,0.173327,1.158768,0.602258,0.663970,0.563470,405,0,122,11
Hard,2076,14543,246,1162.0,251,634,2581,0,230,230,1.183134,4.858528,0.000000,0.448395,0.414900,1354,88,0,0
Kreis 5,8646,5913,17582,44909.0,33643,4817,3591,17023,34975,24004,0.436385,0.333093,1.523470,3.035953,2.122146,3517,167,62,83
Gewerbeschule,342,1902,4177,2344.0,4311,0,379,3761,1751,2367,0.000000,0.144456,1.429622,0.675273,0.904857,175,167,0,0
Escher Wyss,8304,4011,13405,42565.0,29332,4817,3212,13262,33224,21637,0.570277,0.394827,1.552745,3.722117,2.488392,3342,0,62,83
Kreis 6,3281,5804,3726,5322.0,2095,2635,3961,2667,4226,1144,0.763190,1.140772,0.757801,1.220793,0.350392,232,252,0,162
Unterstrass,2744,4281,3391,5322.0,1795,2384,2860,2577,4226,844,1.039067,1.248971,1.097444,1.831999,0.396397,169,67,0,124
Oberstrass,537,1523,335,0.0,300,251,1101,90,0,300,0.269843,1.154445,0.092727,0.000000,0.309948,63,185,0,38
Kreis 7,2952,4697,4336,3886.0,3577,2302,3875,3224,3113,2199,0.592858,0.991729,0.820277,0.799748,0.568251,405,190,0,55
Fluntern,0,557,500,66.0,66,0,557,500,0,0,0.000000,0.538307,0.464147,0.000000,0.000000,0,0,0,0
Hottingen,1080,2413,1962,3030.0,1208,990,2159,1288,2594,1004,0.575820,1.233194,0.741557,1.493825,0.576767,90,0,0,0
Hirslanden,1462,1537,1758,674.0,2187,1112,1159,1320,519,1195,1.690490,1.764593,2.022128,0.798398,1.866002,295,0,0,55
Witikon,410,190,116,116.0,116,200,0,116,0,0,0.550793,0.000000,0.332866,0.000000,0.000000,20,190,0,0
Kreis 8,6938,12230,12294,15127.0,13214,5995,11065,11132,13859,11357,1.369069,2.516682,2.509175,3.160489,2.586646,637,64,160,82
Seefeld,2809,6352,6603,9473.0,8101,2353,5585,6074,9188,7236,1.169415,2.778846,2.954466,4.574009,3.611404,374,0,0,82
Mühlebach,3615,5312,4921,4740.0,4779,3352,4914,4288,3813,3787,1.992301,2.895896,2.544593,2.258735,2.230256,263,0,0,0
Weinegg,514,566,770,914.0,334,290,566,770,858,334,0.429630,0.829276,1.115878,1.257191,0.488684,0,64,160,0
Kreis 9,41331,44100,52204,42610.0,41216,29739,29526,39082,33823,33616,2.646660,2.715035,3.622990,3.187788,3.199240,7820,747,1353,1672
Albisrieden,7325,8080,4628,3382.0,4823,5383,6127,3820,2559,4211,3.005675,3.466652,2.179764,1.484315,2.505280,468,747,369,358
Altstetten,34006,36020,47576,39228.0,36393,24356,23399,35262,31264,29405,2.580564,2.569073,3.901980,3.517402,3.330842,7352,0,984,1314
Kreis 10,590,1342,477,220.0,1240,159,285,387,220,887,0.064837,0.120026,0.168301,0.096789,0.396905,78,353,0,0
Höngg,28,464,0,220.0,0,0,0,0,220,0,0.000000,0.000000,0.000000,0.137581,0.000000,28,0,0,0
Wipkingen,562,878,477,0.0,1240,159,285,387,0,887,0.220649,0.413820,0.562228,0.000000,1.371171,50,353,0,0
Kreis 11,43175,65488,58697,25972.0,38549,33757,50811,45953,20801,29929,2.974895,4.413909,4.078679,1.798620,2.697113,7338,480,1169,431
Affoltern,111,1706,1651,200.0,1095,98,546,1651,200,1095,0.149882,0.715395,2.120407,0.257478,1.423131,13,0,0,0
Oerlikon,16299,9649,13744,3101.0,3299,13603,5104,10150,1909,2900,3.198815,1.200857,2.395998,0.449521,0.696712,896,200,1169,431
Seebach,26765,54133,43302,22671.0,34155,20056,45161,34152,18692,25934,3.257628,7.310521,5.629068,2.920838,4.427701,6429,280,0,0
Kreis 12,836,1279,1922,1059.0,1277,836,1184,1198,945,577,1.067194,1.616218,1.699398,1.471645,0.923348,0,0,0,0
Saatlen,758,1113,865,514.0,408,758,1018,510,514,252,2.587330,3.715196,1.821850,2.712795,1.095918,0,0,0,0
Schwamendingen-Mitte,78,166,1057,545.0,709,78,166,688,431,325,0.235935,0.517737,1.994132,1.244845,0.963850,0,0,0,0
Hirzenbach,0,0,0,0.0,160,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,0

In [94]:
df_leerflaeche[:4]

,Leerfläche (m²),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Leerfläche (m²).1,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Leerflächenziffer,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Leerfläche (m²).2,Unnamed: 16,Unnamed: 17,Unnamed: 18
Kreis 1,30550,34710,32201,40945.0,53774,23805,29535,29807,36180,49692,3.009313,3.722381,3.713889,4.494553,6.442308,2436,1889,214,2206
Rathaus,3504,1940,2261,2261.0,2284,1399,1940,1315,2113,1856,1.312454,1.828309,1.280151,2.055668,1.791554,128,383,64,1530
Hochschulen,670,1187,340,126.0,2218,670,797,340,126,2218,0.870212,1.018492,0.414879,0.147865,2.591527,0,0,0,0
Lindenhof,7542,10304,8060,7737.0,7381,6963,8158,7725,7374,6967,3.940022,4.657459,4.368561,4.170103,4.011771,579,0,0,0

In [85]:
#df_leerflaeche.rename(columns = header)

In [86]:
df_leerflaeche.head()

,Leerfläche (m²),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Leerfläche (m²).1,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Leerflächenziffer,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Leerfläche (m²).2,Unnamed: 16,Unnamed: 17,Unnamed: 18
Kreis 1,30550,34710,32201,40945.0,53774,23805,29535,29807,36180,49692,3.009313,3.722381,3.713889,4.494553,6.442308,2436,1889,214,2206
Rathaus,3504,1940,2261,2261.0,2284,1399,1940,1315,2113,1856,1.312454,1.828309,1.280151,2.055668,1.791554,128,383,64,1530
Hochschulen,670,1187,340,126.0,2218,670,797,340,126,2218,0.870212,1.018492,0.414879,0.147865,2.591527,0,0,0,0
Lindenhof,7542,10304,8060,7737.0,7381,6963,8158,7725,7374,6967,3.940022,4.657459,4.368561,4.170103,4.011771,579,0,0,0
City,18834,21279,21540,30821.0,41891,14773,18640,20427,26567,38651,3.594943,4.492340,4.892534,6.373022,10.026703,1729,1506,150,676

In [44]:
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

In [27]:
df_auswahl = df[['2018', '2017']]


#df_auswahl = df[['Total Leerfläche (m²)', 'Unnamed: 1 Unnamed: 1']]



# df_ohnere_total = df[['Industrie - Total', 'Dienste - Total', 'Total',
#        'Total ohne ausländisch beherrschte Finanz- und Holdinggesellschaften',
#        #'Pro memoria: Grundstücks- und Wohnungswesen',
#        #'Pro memoria: Total inkl. Grundstücks- und Wohnungswesen'
#         ]]

KeyError: "['2018' '2017'] not in index"

In [24]:
df.columns

Index([    2018,     2017,     2016,     2015,     2014, '2018.1', '2017.1',
       '2016.1', '2015.1', '2014.1', '2018.2', '2017.2', '2016.2', '2015.2',
       '2014.2', '2018.3', '2018.4', '2018.5', '2018.6'],
      dtype='object')

In [29]:
df_auswahl[0:].reset_index()

NameError: name 'df_auswahl' is not defined

In [ ]:
df[0:]

In [ ]:
df.transpose()

In [ ]:
import plotly.offline as pyo
import plotly.graph_objs as go
import numpy as np

pyo.init_notebook_mode(connected=True)

np.random.seed(42)
random_x = np.random.randint(1,101,100)
random_y = np.random.randint(1,101,100)

data = [go.Scatter(
    x = random_x,
    y = random_y,
    mode = 'markers',
)]
fig = go.Figure(data=data)
pyo.iplot(fig, filename='hover-chart-basic')

In [29]:
import plotly.offline as pyo
import plotly.graph_objs as go
import numpy as np

pyo.init_notebook_mode(connected=True)

trace1 = go.Bar(
    x=['Rathaus', 'Hochschulen', 'Lindenhof', 'City'],
    y=['2014', '2015', '2016', '2017', '2018'],
    name='BE Zoo'
)

trace2 = go.Bar(
    x=['Rathaus', 'Hochschulen', 'Lindenhof', 'City'],
    y=['2014', '2015', '2016', '2017', '2018'],
    name='ZH Zoo'
)

# trace1 = go.Bar(
#     x=['2014', '2015', '2016', '2017', '2018'],
#     y=['Rathaus', 'Hochschulen', 'Lindenhof', 'City'],
#     name='SF Zoo'
# )
# trace2 = go.Bar(
#     x=['2014', '2015', '2016', '2017', '2018'],
#     y=['Rathaus', 'Hochschulen', 'Lindenhof', 'City'],
#     name='LA Zoo'
# )

data = [trace1, trace2]
layout = go.Layout(
    barmode='group'
)

fig = go.Figure(data=data)
pyo.iplot(fig, filename='hover-chart-basic')


# fig = go.Figure(data=data, layout=layout)
# py.iplot(fig, filename='grouped-bar')